.wrapper {
    width: 45%;
    text-align: left;
    padding: 1%;
    border: 2px solid black;
    position: relative;
    margin: 1%;
    display: flex;
}

.data-view {
    max-width: 33%;
    display: inline-block;
}

select {
    width: 75%;
}

.paddle-label {
    width: 110px;
    margin: 5px;
}

.score-div {
    position: absolute;
    top: 15px;
    right: 15px;
}

li {
    list-style-type: none;
}
